FIRST_SUPERUSER=<user_name>
FIRST_SUPERUSER_PASSWORD=<password>

POSTGRES_USER=<user_name_db>
POSTGRES_PASSWORD=<password_db>
POSTGRES_DB=<database_name>
POSTGRES_URL=postgresql://<user_name_db>:<password_db>@db:5432/<database_name>

MISTRAL_API_KEY=