@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

$background-color: #daf3f5;
$primary-color: #1F2F56;
$secondary-color: #152242;
$detail-color: #BFE5E8;

$font-family: 'Montserrat', sans-serif;
$font-color: white;
$chat-font-color: #749295;
$font-hover-color: gray;
$font-primary-size: 1vw;
$font-chat-size: 0.8vw;
$font-primary-weight: 700;
