@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

$background-color: #daf3f5;
$primary-color: #1F2F56;
$secondary-color: #152242;
$detail-color: #daf3f5;

$font-family: 'Inter', sans-serif;
$font-color: white;
$font-hover-color: gray;
$font-primary-size: 1vw;
$font-primary-weight: 700;
