@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

$background-color: #2a2a2a;
$secondary-color: #246034;

$font-family: 'Inter', sans-serif;
$font-color: white;
$font-hover-color: #dedede;
$font-primary-size: 1vw;
$font-primary-weight: 700;
